header
    margin-top: -80px
    position: fixed
    .menu
        display: flex
        justify-content: space-between
        left: 120px
        width: 1300px
        position: absolute
        z-index: -1
        background-color: rgb(0, 0, 0)
        nav
            padding-top: 100px
            a
                font-size: 22px
                color: rgb(255, 255, 255)
                padding-right: 10px 
        .imgbox
            width: 150px
            height: 150px
            padding-top: 100px



