header
    background-color: #080303
    margin-top: -80px
    .menu
        display: flex
        justify-content: space-between
        nav
            padding-top: 100px
            a
                font-size: 22px
                color: #fafafa
        .imgbox
            width: 150px
            height: 150px
            padding-top: 100px


