#welcome
    .textbox
        position: absolute
        left: 200px
        top: 200px
        color: rgb(255, 255, 255)
        h2
            font-size: 60px
            font-weight: 700
            margin-left: 300px
            margin-bottom: 20px
        h1
            font-size: 100px
            font-weight: 700
            margin-left: 100px
        .btn
            font-size: 20px
            background-color: rgb(209, 178, 25)
            padding: 20px 40px
            margin: 50px 0 0 40px
            color: rgb(255, 255, 255)
            margin-left: 450px
    .imgbox
        width: 100%
        height: 100%
        position: absolute
        z-index: -1
        left: 0px
    @media screen and ( max-width: 992px )
        .textbox
            position: absolute
            left: 200px
            top: 200px
            color: rgb(255, 255, 255)
        h2
            font-size: 60px
            font-weight: 700
            margin-left: 200px
            margin-bottom: 20px
        h1
            font-size: 80px
            font-weight: 700
            margin-left: 100px
        nav
            .btn
                font-size: 20px
                background-color: rgb(209, 178, 25)
                padding: 20px 40px
                margin: 50px 0 0 40px
                color: rgb(255, 255, 255)
                margin-left: 0px
        .imgbox
            width: 100%
            height: 100%
            position: absolute
            z-index: -1
            left: 0px
